# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Vim temporary files
*.swp

# Temporary grub directory
boot/

# ISO file
*.iso

# Tex tmp files
*.log
*.aux
*.gz

# PFS Files
pfscreate
pfsadd
pfslist
pfsdel
